<%= render :partial => 'layouts/select' %>
<h1><%= Patient.patient_name(@patient) %></h1>
<p>Gender: <%= @patient.gender %> </p>
<p>Age: <%= Patient.age(@patient) %> </p>
<p>Medical Record: <%= medical_record(@patient.id) %> </p>
<p>Status: <%= @patient.status %></p>
<p>Location: <%= link_to(@patient.location.name, location_patients_path(@patient.location)) %> </p>

<p><%=link_to "Back", patients_path %> </p>
<p><%=link_to "edit", edit_patient_path(@patient) %> </p>
<p><%=link_to "destroy", patient_path(@patient), :method => :delete, :confirm => 'Are you sure' %> </p>